<div id="<%= dom_id shoe %>">
  <p>
    <strong>Name:</strong>
    <%= shoe.name %>
  </p>

  <p>
    <strong>Inventory:</strong>
    <%= shoe.inventory %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= shoe.store_id %>
  </p>

</div>
